<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.land.template.mapper.UserMapper">

    <select id="notFillUserList" resultType="com.land.template.po.User">
      SELECT user.* FROM t_gk_daily_user_d user LIMIT 1
    </select>

</mapper>
